body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.intern-card {
  width: 390px;
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
}


.profile-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: #111;
}

.card-content h4 {
  margin: 4px 0 12px;
  font-size: 15px;
  color: #6b7280;
}

.card-content p {
  font-size: 14px;
  line-height: 1.5;
  color: #374151;
}
