.box {
    width: 100px;
    height: 100px;
    background-color: red;
}
.box:hover {
  transform: rotate(45deg);
}

.box-scale {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-top: 20px;
}
.box-scale:hover {
  transform: scale(1.5);
}
.box-translate {
    width: 100px;
    height: 100px;
    background-color: green;
    margin-top: 20px;
}
.box-translate:hover {
  transform: translate(50px, 50px);
}
.box-skew {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin-top: 20px;
}
.box-skew:hover {
  transform: skew(20deg, 10deg);
}

