* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f8fcff;
  color: #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #fff;
  top: 0;
}

.logo img {
 width: 170px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a.active {
  color: #000000;
}

.btn-contact {
  border: 1.5px solid #5a3ef7;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: 500;
}

.btn-contact:hover {
  color: #fff;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 120px;
}

.hero-text {
  max-width: 50%;
}

.hero-text .intro {
  color: #555;
  font-weight: 500;
  margin-bottom: 15px;
}

.hero-text h1 {
  font-size: 45px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #222;
}

.hero-text h1 span {
  color: #5a3ef7;
}

.hero-text .desc {
  color: #666;
  margin-bottom: 30px;
  line-height: 1.6;
}

.btn-primary {
  background-color: #5a3ef7;
  color: #fff;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}


.hero-image img {
  width: 430px;
  border-radius: 20px;
  background-color: #eaf4fc;
  padding: 15px;
}




.cards {
    display: flex;
    justify-content: space-around;
    padding: 60px 120px;
}

.skills-section {
  padding: 80px 10%;
  background-color: #ffffff;
  text-align: left;
}

.skills-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #1a1a1a;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
}

.skill-card {
  background-color: #f5fbff;
  border-radius: 12px;
  padding: 32px 24px;
  width: calc(25% - 18px);
  border-bottom: 3px solid transparent;
}

.icon-box {
  background-color: #e8f6f5;
  border-radius: 12px;
  display: inline-flex;
  padding: 10px;
  margin-bottom: 20px;
}

.icon-box img {
  width: 40px;
  height: 40px;
}

.skill-card h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #222;
}



.about-section {
  padding: 100px 10%;
  background-color: #fff;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 60px;
}

.about-image img {
  width: 100%;
  border-radius: 8px;
}

.about-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 16px;
  color: #444;
}




.portfolio-section {
  padding: 100px 10%;
  background-color: #fff;
}

.portfolio-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.portfolio-subtitle {
  color: #555;
  font-size: 14px;
  margin-bottom: 6px;
}

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  color: #222;
}

.dribbble-btn {
  background-color: #f43f5e;
  color: #fff;
  padding: 10px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
}


.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.portfolio-card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
}

.portfolio-image img {
  width: 100%;
  display: block;
}

.portfolio-content {
  padding: 20px;
}

.portfolio-content h3 {
  font-size: 20px;
  font-weight: 700;
  color: #222;
  margin-bottom: 10px;
}

.portfolio-content p {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}

.portfolio-link {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 2px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #ffffff;
  color: #111827;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
}

.container {
  max-width: 720px;
  width: 100%;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 8px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 8px;
}

.desc {
  color: #6b7280;
  font-size: 15px;
  margin-bottom: 40px;
}

.contact-form {
  text-align: left;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #374151;
  margin-bottom: 6px;
}

input,
select,
textarea {
  padding: 12px;
  border: 1.5px solid #a78bfa;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
}


.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #4b5563;
  margin-bottom: 25px;
}

.checkbox input {
  width: 16px;
  height: 16px;
}

.submit-btn {
  background-color: #7c3aed;
  color: white;
  padding: 12px 32px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}



body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #111827;
}

.footer {
  background-color: #f8fcff;
  padding: 40px 80px 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.logo {
  width: 120px;
  height: auto;
}

.footer-nav {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.footer-nav a {
  color: #111827;
  text-decoration: none;
  font-size: 15px;
}


.footer-social {
  display: flex;
  gap: 18px;
}

.footer-social a {
  color: #111827;
  font-size: 18px;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  color: #6b7280;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #6b7280;
  text-decoration: none;
  transition: color 0.3s;
}

